[Match]
Name=br{{ vlan }}

{% if pillar.dhcpnetworks and grains['host'] in pillar.dhcpnetworks %}
{% if vlan in pillar.dhcpnetworks[grains['host']] %}
[Network]
DHCP=ipv4
{% else %}
DHCP=no
{% endif %}
{% endif %}
