[Match]
Name={{ pillar.devname[grains['host']] }}

[Network]
{% if use_vlans %}
{% for vlan in vlans %}
VLAN={{ pillar.devname[grains['host']] }}.{{ vlan }}
{% endfor %}
{% endif %}
DHCP=no
