[Match]
Name={{ pillar.devname[grains['host']] }}

{% if use_vlans %}
[Network]
{% for vlan in vlans %}
VLAN={{ pillar.devname[grains['host']] }}.{{ vlan }}
{% endfor %}
{% endif %}
