================================
={{ grains['host']|upper|center(30) }}=
================================

This host is managed by Salt.

{% if pillar['motd_quote'][grains['host']] %}
{{ pillar['motd_quote'][grains['host']] }}
{% endif %}
