================================
={{ grains['host']|upper|center(30) }}=
================================

This host is managed by Salt.

{% if grains['host'] in pillar['motd_quote'] %}
{{ pillar['motd_quote'][grains['host']] }}
{% endif %}
