image_version: {{ phone.image_version|d('P0S3-07-5-00') }}
line1_name: {{ phone_name }}
line1_authname: "{{ phone_name }}"
line1_shortname: "{{ phone_name | capitalize }}"
line1_password: "{{ phone.password }}"
line1_displayname: "Hackafe {{ phone_name | capitalize }}"
proxy1_port: {{ phone.proxy1_port|d('5060') }}
proxy1_address: {{ phone.proxy1_address|d('vegasix.xn--hackaf-gva.net') }}
line2_name: {{ intercom.line_name }}
line2_authname: "{{ intercom.line_name }}"
line2_shortname: "{{ intercom.line_name | capitalize }}"
line2_password: "{{ intercom.password }}"
line2_displayname: "Hackafe {{ intercom.line_name | capitalize }}"
proxy2_port: {{ phone.proxy1_port|d('5060') }}
proxy2_address: {{ phone.proxy1_address|d('vegasix.xn--hackaf-gva.net') }}
phone_label: "{{ phone.phone_label|d('Hackafe.net  ') }}"
phone_password: "{{ phone.phone_password|d('cisco') }}"
user_info: {{ phone.user_info|d('none') }}
telnet_level: {{ phone.telnet_level|d('2') }}
logo_url: "{{ phone.logo_url|d('http://www.loligo.com/asterisk/cisco/79xx/current/asterisk-tux.bmp') }}"
